.leftside{
   height:5vh;
   width: 100%;
   margin-left: 5%;
   background: rgb(255, 255, 255);
}
.rightside{
   height:5vh;
   width: 100%;
   margin-right: 5%;
   background: white;
}


 .img-shrink{
   max-width: 90%;
   margin-left: 5%;
 }

 .img-red  {
   border: 10px solid #C64545 ;
 }
 .img-blue {
   border: 10px solid #2D5772;
 }
 .img-green{
   border: 10px solid #1AA85C;
 }
 .img-dark{
   border: 10px solid darkgray;
 }