.body-content {
  margin-top: 70px;
}
.text-size{
  font-size: medium;
}
.brand-size{
  font-size: large;
}
.bg 
{
    background-color: black;
    color:white;
    padding: 5px; /*add this if you want a bit of space around the text*/
}